.hero-container {
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
  background: #F3FAFF;
}

.hero-left {
  max-width: 480px;
}

.badge {
  display: inline-block;
  background: #e3f4ff;
  padding: 6px 14px;
  border-radius: 20px;
  color: #1da1f2;
  font-size: 13px;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #17b2e6;
}

.hero-text {
  color: #555;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.upload-btns {
  background: #17b2e6;
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}



.upload-btns:hover {
  background: #139ac7;
}

.learn-btn {
  background: white;
  color: #139ac7;
  padding: 12px 22px;
  border-radius: 10px;
  border: 2px solid #139ac7;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.learn-btn:hover {
  background: #e8f8ff;
}

.hero-stats {
  display: flex;
  gap: 50px;
  text-align: center;
  margin-top: 40px;
  color: #1a1a1a;
}

.hero-stats h3 {
    text-align: center;
  font-size: 26px;
  color: #17b2e6;
}

.hero-stats p {
  color: #555;
  margin-top: -2px;
}

/* ----------------- RIGHT SECTION ----------------- */
.hero-right {
  position: relative;
}

.image-wrapper {
  width: 520px;
  height: 330px;
  background: none;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.floating-tag {
  position: absolute;
  background: white;
  padding: 10px 18px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #0aa1d8;
  font-weight: 500;
}

.top-tag {
  top: -20px;
  right: 30px;
}

.bottom-tag {
  bottom: -20px;
  left: 40px;
}
